.paragraph--type-pie-chart {
  margin-bottom: 30px;
}
.paragraph--type-pie-chart canvas.chart-wrapper-pie {
  margin-top: 30px;
}

.pie-legend li span {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}

.pie-legend li:before {
  display: none;
}

.pie-legend li .label-item {
  display: inline;
  font-weight: 700;
  color: #4a4a4a;
  font-size: 16px;
}

.pie-legend {
  text-align: center;
  margin: 40px 0 0;
}
.pie-legend ul {
  display: inline-block;
  text-align: left;
}

.pie-legend h3 {
  font-weight: 700;
  margin-bottom: 10px;
}

.pie-legend li {
  display: flex;
  margin-bottom: 10px;
}
.pie-legend li:last-child {
  margin-bottom: 0;
}
