.paragraph--type-slide-chart {
  margin-bottom: 30px;
}
.paragraph--type-slide-chart h2 {
  margin-bottom: 30px;
}

.chart-wrapper-slide .slide-infographics {
  width: 100%;
  margin-left: 0;
  padding: 0;
}
.chart-wrapper-slide {
  margin-top: 30px;
}
.slide-infographics .slide-item {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
.slide-infographics .slide-item:last-child {
  margin-bottom: 0;
}
.slide-infographics .slide-item:before {
  display: none;
}
.slide-infographics .slide-item .slide-info {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  color: white;
  margin-left: -5%;
  padding-left: calc(5% + 20px);
  font-size: 16px;
  z-index: 1;
}
.slide-infographics .slide-item .triangle {
  position: relative;
  width: 0;
  height: 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: #090979;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  z-index: 1;
}
.slide-infographics .slide-item .number {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  display: table;
  background: #090979;
  font-weight: 700;
  z-index: 0;
  color: white;
  min-width: 20%;
  padding-left: calc(5% + 20px);
}
.slide-infographics .slide-item .number .number-item {
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
  width: 100%;
}
.slide-infographics .slide-item .number .triangle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: #090979;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}
.slide-infographics .slide-item .icon {
  position: relative;
  border-radius: 50%;
  width: 10%;
  height: 10%;
  flex: 0 0 10%;
  z-index: 3;
}

.slide-infographics .slide-item .number.slide-animation {
  animation: slide 500ms forwards;
}
.slide-infographics .slide-item .icon svg {
  fill: white;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 1024px) {
  .slide-infographics .slide-item {
    display: block;
    margin-bottom: 20px;
  }
  .slide-infographics .slide-item:last-child {
    margin-bottom: 0;
  }

  .slide-infographics .slide-item .slide-info{
    margin: 0 auto;
    border-radius: 20px;
    padding:20px;
    width: 80% !important;
  }
  .slide-infographics .slide-item .triangle {
    display: none;
  }
  .slide-infographics .slide-item .number {
    position: relative;
    width: 50%;
    color: white;
    flex:none;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    margin-top: 0;
    border-radius: 0 0 20px 20px;
    text-align: center;
    padding: 0 !important;
    height: 100% !important;
  }
  .slide-infographics .slide-item .number .number-item {
    display: block;
    padding: 20px 10px;
  }
  .slide-infographics .slide-item .number .triangle {
    display: none;
  }

  .slide-infographics .slide-item .icon {
    top: 10px;
    margin: 0 auto;
    width: 70px !important;
    height: 70px !important;
  }
  .slide-infographics .slide-item .icon svg {
    width: 40px !important;
    height: 40px !important;
  }
}


