.icon-select-wrapper .fieldset-wrapper {
  margin-top: 10px;
}

.icon-select-wrapper .form-checkboxes {
  flex-wrap: wrap;
}

.icon-select-wrapper input {
  display: none;
}

.icon-select-wrapper input:checked + span {
  fill: #114f5b;
  color: #114f5b;
}

.icon-select-wrapper span.field-suffix {
  margin: 0;
}

.icon-select-wrapper div.form-type-checkbox.selected {
  background-color: transparent;
}

.icon-select-wrapper .form-checkboxes div.form-type-checkbox:nth-child(even) {
  margin: 0 10px 10px 0;
}

.icon-select-wrapper span.field-suffix:hover {
  transform: scale(1);
  background: transparent;
  fill: #114f5b;
  color: #114f5b;
}

.icon-select-wrapper span.field-prefix {
  display: none;
}

.icon-select-wrapper .form-checkboxes .form-type-checkbox.js-form-item {
  flex: 0 0 auto;
  border: 0;
  padding: 0;
  margin: 0 10px 10px 0;
}

.field--name-field-charts-data,
.field--name-field-charts-label {
  display: inline-block;
  margin-right: 10px;
}

.js .field--name-field-charts-data-ph td.field-multiple-drag {
  padding-top: 20px;
}

.field--name-field-charts-data-ph .paragraph-type-top {
  float: right;
}

.field--name-field-charts-data-ph .paragraph-type-title {
  display: none;
}

.unit-container {
  display: flex;
}

.unit-container div {
  padding-right: 10px;
}

.bar-chart-admin-wrapper ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 0;
}
.bar-chart-admin-wrapper ul li {
  position: relative;
  border: 1px solid #bfbfba;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 1%;
  width: 32%;
}
.bar-chart-admin-wrapper ul li h5 {
  color: #333;
  background-color: #f5f5f2;
  padding: 5px 10px;
  display: block;
  border-bottom: 1px solid #bfbfba;
  margin: 0;
}

.bar-chart-admin-wrapper ul li .inner-wrapper {
  padding: 10px;
}

.bar-chart-admin-wrapper ul li .inner-wrapper label {
  padding-bottom: 5px;
}

.bar-chart-admin-wrapper ul li .inner-wrapper input {
  width: 98%;
  height: 30px;
}
